
.pad1 {
  padding-top: 140px;
  padding-bottom: 80px;
}
.fixed-height {
  max-height: 550px;
  object-fit: cover;
  object-position: 0% 60%;
}

.sidebar {
  margin-top: 72px;
  width: 280px;
  min-height: calc(100vh - 100px);
}

.active {
  background-color: rgb(0, 0, 0) !important;
}

.sidebutton:hover {
  background-color: rgb(100, 100, 100) !important;
}

.mt-n1 {
  margin-top: -0.2rem !important;
}